.row{
    height:300px;
    width:60%;
    background-color: rgb(14, 11, 9);
    position:relative;
    left:10%;
    margin-top: 10px;
}
.col{
    width:22%;
    height:250px;
    position:absolute;
   top:20px;
    left:10px;
}
.col-1{
    background-color: chocolate;
    
}
.col-2{
    background-color:crimson;
    left:25%;
}
.col-3{
    background-color: cyan;
    left:49%
}
.col-4{
    background-color: darkgrey;
    left: 73%;
}
.fixed{
    width: 100px;
    height:100px;
    background-color: blue;
    position: fixed;
    left: 0%;
    top:30%;
}
.sticky{
    width: 100px;
    height: 100px;
    background-color: lawngreen;
    position: sticky;
    top: 8%;
}