body{
    background-color:black;

}
h1{
    color:white;
    text-align:center;
}
div{
    height:300px;
    width:200px;
    border:1px solid red;
    float: left;

}
.pink{
    margin-left:100px;
    margin-right:  0px;
background-color: rgb(54, 34, 37);
 
}
.green{
    margin-left: 12px;
    background-color: green;

}
.white{
    margin-left: 12px;
    background-color: ivory;
}
.grey{
    margin-left:12px; 
    background-color: grey;
}
.yellow{
    margin-left: 12px;
    background-color: yellow;
}
.box{
    background-color: brown;
    margin-top:58px ;
}